html{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}

ul, li{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
}

header{
    max-width: 100%;
}

nav{
    max-width: 100%;
    height: 60px;
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

.overlay::after{
    content: "";
    display: block;
    position: absolute;
    top: 7px;
    bottom: 7px;
    right: 7px;
    left: 7px;
    background-color: #A2D39B;
    opacity: 1;
}

.container{
    width: 650px;
    margin: 0 auto;
}

        /* NAV LEFT */
.nav-left{
    line-height: 30px;
    padding: 10px;
    float: left;
    width: 50%;
}

.nav-left .col-logo{
    float: left;
    border: 1px solid blu;
    max-width: 130px;
}

.nav-left .col-nav a{
    padding: 0 10px 0 30px;
    float: left;    
}

.nav-left .col-nav li{
    float: left;
}

        /* NAV RIGHT */
.nav-right{
    line-height: 30px;
    padding: 10px;
    float: right;
    width: 50%;
}

.nav-right .col-nav a{
    padding: 0 10px 0 30px;
    float: right;
}

.nav-right .col-nav li{
    float: right;
}

.col-btn a{
    background-color: #0161FF;
    color: white;
    padding: 0 20px;
    margin-left: 20px;
    float: right;
}

        /* JUMBOTRON */

.jumbo{
    background-color: #B4D0E7;
    position: relative;
    max-width: 100%;
    min-height: 500px;
}

.jumbo--container{
    margin-top: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 900px;

}

.jumbo .col-title{
    width: 100%;
    padding: 50px 0 30px 0;
    float: left;
    font-size: 1.4rem;
}

.jumbo--container .col-paragraph{
    font-size: 0.8rem;
    float: left;
    width: 33.33%;
}

.jumbo--container .col-paragraph p{
    margin-bottom: 20px;
}

.col-paragraph a:nth-child(2){
    color: white;
    background-color: #0161FF;
    padding: 5px 10px;
}

.jumbo .col-paragraph section{
    margin-top: 10px;
}

.col-paragraph i{
    font-size: 1.5rem;
    margin-top: 30px;
    padding: 5px;
}

.jumbo--container .col-img{
    width: 66.66%;
    float: left;
}

        /* MAIN */

main{
    padding-top: 100px;
}

section>.title-card{
    max-width: 645px;

}

.choose{
    display: inline-block;
    margin: 40px 10px;
}

.all-cards{
    max-width: 645px;
}

.card{
    float: left;
    margin-left: 30px;
    padding-left: 10px;
    border: 1px solid #D4D5D7;
    width: calc(33.33% - 20px);
    height: 650px;
}

.main-card{
    margin-bottom: 20px;
}

.card:first-child{
    margin-left: 0;
}

.header-card{
    margin: 0;
    border-bottom: 1px solid #D4D5D7;
    width: 100%;
    padding: 5px;
    text-align: center;
}

main [class*="-card"] h3, main [class*="-card"] h5{
    margin-bottom: 10px;
}

.price{
    font-size: 0.7rem;
    font-weight: bold;
    margin-bottom: 5px;
}
.description{
    font-size: 0.6rem;
    color: #4C6274;
}
.card .first-section{
    margin-bottom: 30px;
}

.list ul li{
    font-size: 0.6rem;
    margin-bottom: 10px;
}

i{
    padding: 5px;
}

.try-btn{
    text-align: center;
    margin: 20px 0;
}

.try-btn a{
    background-color: #0161FF;
    color: white;
    font-size: 0.7rem;
    padding: 5px 5px;
    margin: 0 10px 0 0;

}

.buy-btn{
    font-size: 0.7rem;
    margin-bottom: 20px;
}

.buy-btn a{
    color: #0161FF;
}
.card .main-card::after{
    content: "";
    display: block;
    border: 1px solid #D4D5D7;
    width: 29px;
}

.footer-card .list li i{
    font-size: 10px;
    color: #0161FF;
}
.card-horizontal{
    margin-top: 30px;
    float: left;
    border: 1px solid #D4D5D7;
    width: 100%;
}

.card-horizontal .col-text{
    padding: 20px;
    width: 70%;
    float: left;
}

.col-btn-office{
    padding: 20px;
    font-size: 0.6rem;
    max-width: 30%;
    color: white;
    float: left;
}

.col-btn-office a{
    padding: 5px 20px;
    background-color: #0161FF;
}


.card-horizontal .col-text p{
    font-size: 0.6rem;
}

/* PARTNER */

.partner{
    margin-top: 100px;
}

.partner .col-paragraph{
    font-size: 0.7rem;
    float: left;
    width: calc(50% - 20px);

}

.partner  .col-paragraph p{
    margin-bottom: 20px;

}

.partner .col-paragraph a{
    border: 1px solid;
    padding: 5px 10px;
}

.partner .col-img{
    margin-right: 20px;
    width: calc(50% - 20px);
    float: left;
}

/* FEATURE */

.business-feature{
    margin-top: 50px;
}

.wrap{
    float: left;
    margin: 30px 20px 0 0;
    width: calc(33.33% - 20px);
}
.wrap h4{
    margin-top: 10px;
}
.wrap p{
    margin-top: 10px;
    font-size: 0.7rem;
}

.wrap p a{
    text-decoration: underline;
}

/* CLIENTS */

.team{
    margin: 100px 0 0px 0;
}

.team .container h2{
    width: 400px;
    margin-bottom: 20px;
}

.team .container a{
    margin-bottom: 20px;
    color: #0161FF;
    text-decoration: underline;
}

.clients{
    margin-top: 30px;
    width: 100%;
}

/*  clients sx  */

.clients-badge-sx{
    float: left;
    width: 30%;
}

.badge{
    float: left;
    width: 50%;
    height: 142px;
}

.filter{
    filter: invert(1);
}

.designit{
    position: relative;
    background-color: #D0E9CD;

}

#designit{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90px;
    z-index: 50;
}


.asu{
    background-color: #61082B;
    position: relative;
}

#asu{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90px;
}

.uf{
    background-color: #0093CE;
    position: relative;
}

#uf{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90px;
}

.topps{
    background-color: #FF1C1C;
    position: relative;
}

#topps{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90px;
}

/* client description */

.clients-description{
    position: relative;
    float: left;
    width: 40%;
    background-color: #F5F5F5;
    min-height: 285px;
}

.logo-description{
    position: absolute;
    top: 30px;
    left: 20px;
    width: 30%;
    height: 30px;
}

.description p{
    font-size: 0.8rem;
    padding: 100px 20px 0px 20px;
}

.description h6{
    font-size: 0.8rem;
    padding: 30px 20px 0px 20px;

}




/* client dx */
.clients-badge-dx{
    float: left;
    width: 30%;
}

.badge{
    float: left;
    width: 50%;
    height: 142px;
} 

.bicycle{
    position: relative;
    background-color: #D5021F;

}

#bicycle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90px;
}


.hearts{
    background-color: #B4D0E7;
    position: relative;
}

#hearts{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90px;
}

.lonely{
    background-color: #0D2481;
    position: relative;
}

#lonely{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90px;
}

.channel{
    background-color: #FFD82F;
    position: relative;
}

#channel{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90px;
}

.last-jumbo{
    position: relative;
    min-height: 200px;
}

.last-jumbo .container{
    padding-top: 70px;
}

.last-jumbo h2{
    float: left;
    width: 50%;
}

.prova{
    float: left;
    width: 50%;
}

.prova a{
    background-color: white;
    padding: 5px 30px;
    margin-left: 100px;
    font-size: 0.7rem;
}

.box-ask h3{
    margin-top: 100px;
    padding-bottom: 25px;
    border-bottom: 1px solid #D4D5D7;
}

.ask{
    width: 100%;
    padding: 25px 0 40px 0;
    border-bottom: 1px solid #D4D5D7;
    font-size: 0.8rem;
}

.ask h5{
    float: left;
}

.ask .tendina{
    float: right;
}
.ask:last-child{
    margin-bottom: 100px;
}

footer{
    background-color: black;
    color: white;
}

.footer-container{
    width: 100%;
    padding: 100px;

}

.footer-container [class^="col-"] {
    float: left;
    width: 20%;
}

footer h5{
    margin-bottom: 20px;
}

footer li{
    font-size: 0.7rem;
    margin-bottom: 5px;
}

.select-language{
    border-top: 1px solid #D4D5D7;
    padding: 30px 0;
    margin-left: 100px;
}

select{
    color: rgb(126, 126, 126);
    background-color: black;
    border: none;
}


